@import "tailwindcss";

@import "@splidejs/react-splide/css";

:root {
  --dark-blue: #013172;
  --light-blue: #9fb1ca;
  --dark-beige: #8f6a40;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  color: var(--dark-blue);
  background-color: var(--white);
}

button {
  color: var(--white);
  background-color: var(--dark-beige);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

button.icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  box-shadow: none;
}

button:disabled {
  background-color: var(--light-blue);
  cursor: not-allowed;
}

img.shadow {
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

caption {
  color: var(--light-blue);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--dark-blue);
}

p.whiteText {
  color: var(--white);
}

p.customShadow,
div.customShadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.hoverScale:hover {
  transform: scale(1.2);
  transition-duration: 300ms;
  transition-property: transform;
  transition-timing-function: ease;
}

.hoverScaleSmall:hover {
  transform: scale(1.05);
  transition-duration: 300ms;
  transition-property: transform;
  transition-timing-function: ease;
}

.splide__arrow {
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
